<% hosts = ['http://www.placecage.com','http://www.fillmurray.com','http://placekitten.com','http://www.placebear.com/','http://placesheen.com','http://lorempixel.com'] %>
<% for x in 1..100 %>
	<% host = hosts.sample %>
<div class="col-xs">
	<div class="panel">
		<div class="panel-thumbnail">
			<img src="<%= asset_path 'lazy_placeholder.jpg' %>" data-src="<%= host %>/240/240" width="250" height="250">
			<div class="panel-body">
				description here
			</div>
		</div>
	</div>
</div>
<% end %>
<script>$('.panel-thumbnail img').imgload();</script>
