<%= render layout: 'users/settings_menu', locals: { active_page: 'sessions' } do %>
	<div class="panel">
		<div class="panel-heading"><h3 class="panel-title">Session History</h3></div>
		<div class="panel-nav">
		<% @user_sessions.each do |user_session| %>
			<div class="panel-nav-item">
				<div class="pull-right">
					<%= form_for :session, url: user_session_path(user_session), method: :delete, html: { id: nil, class: nil } do |f| %>
						<button type="submit" class="btn btn-danger btn-xs">Delete</button>
					<% end %>
				</div>
				<h4>
					IP Address: <%= user_session.ip_addr %>
				</h4>
				<p>
					Last activity at: <%= user_session.last_activity_at %><br>
					Signed in at: <%= user_session.created_at %>
				</p>
			</div>
		<% end %>
		</div>
	</div>
<% end %>
