<div class="col-md col-center">
	<div class="panel">
		<div class="panel-heading"><h3 class="panel-title">Sign into PicSite</h3></div>
		<div class="panel-body">
			<%= form_for :session, url: signin_path, html: { id: nil, class: nil } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @error.nil? %>" role="alert">The username or password you entered is incorrect.</div>
				<div class="form-group">
					<label for="username">Your Username:</label>
					<input type="text" id="username" class="form-control" name="session[username]" value="<%= params[:session] ? params[:session][:username] : '' %>" autofocus>
				</div>
				<div class="form-group">
					<label for="password">Your Password:</label>
					<input type="password" id="password" class="form-control" name="session[password]">
				</div>
				<button type="submit" class="btn btn-block">Sign In</button>
				<p class="text-center"><a href="<%= forgotpassword_path %>">I forgot my password</a></p>
			<% end %>
		</div>
		<div class="panel-footer">
			<h4 class="text-center">Don't have an account?<br><a href="<%= join_path %>">Click&nbsp;here</a> to join.</h4>
		</div>
	</div>
</div>
