<div class="col-sm">
	<div class="panel panel-nav">
		<div class="panel-heading"><h3 class="panel-title">Settings</h3></div>
		<div class="panel-nav-body">
			<a href="<%= settings_path       %>" class="panel-nav-item<%= ' active' if active_page == 'basic'    %>">Basic Settings</a>
			<a href="<%= changepassword_path %>" class="panel-nav-item<%= ' active' if active_page == 'password' %>">Change Password</a>
			<a href="<%= user_sessions_path  %>" class="panel-nav-item<%= ' active' if active_page == 'sessions' %>">Session History</a>
			<a href="<%= delete_user_path    %>" class="panel-nav-item<%= ' active' if active_page == 'delete'   %>">Delete Account</a>
		</div>
	</div>
</div>
<div class="col-lg">
	<%= yield %>
</div>
<script>
(function($) {
	$('.panel-nav .panel-heading').on('click', function() {
		$(this).parent().find('.panel-nav-body').toggleClass('in');
	});
})(jQuery);
</script>
