<%= render layout: 'settings_menu', locals: { active_page: 'basic' } do %>
	<div class="panel">
		<div class="panel-heading"><h3 class="panel-title">Basic Settings</h3></div>
		<div class="panel-body">
			<%= form_for @current_user, url: settings_path, html: { id: nil, class: nil } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @current_user.errors.empty? %>" role="alert"><%= @current_user.errors.full_messages.join('<br>').html_safe %></div>
				<div class="form-group">
					<label class="control-label" for="email">Email Address (optional):</label>
					<input type="text" id="email" class="form-control" name="user[email]" value="<%= @current_user.email %>" autofocus>
				</div>
				<div class="form-group">
					<label class="control-label" for="password">Current Password:</label>
					<input type="password" id="password" class="form-control" name="password">
					<p class="help-block">To save your changes, please enter your password.</p>
				</div>
				<button type="submit" class="btn">Save Changes</button>
			<% end %>
		</div>
	</div>
<% end %>
