<div class="col-md col-center">
	<div class="panel">
		<div class="panel-heading"><h3 class="panel-title">Join PicSite</h3></div>
		<div class="panel-body">
			<%= form_for @user, url: join_path, html: { id: nil, class: 'join-form' } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @user.errors.empty? %>" role="alert"><%= @user.errors.full_messages.join('<br>').html_safe %></div>
				<div class="form-group<% if @user.errors[:username].any? %> has-error<% end %>">
					<label class="control-label" for="username">Username:</label>
					<input type="text" id="username" class="form-control" name="user[username]" value="<%= params[:user] ? params[:user][:username] : '' %>" autofocus>
				</div>
				<div class="form-group<% if @user.errors[:email].any? %> has-error<% end %>">
					<label class="control-label" for="email">Email Address (optional):</label>
					<input type="text" id="email" class="form-control" name="user[email]" value="<%= params[:user] ? params[:user][:email] : '' %>">
				</div>
				<div class="form-group<% if @user.errors[:password].any? %> has-error<% end %>">
					<label class="control-label" for="password">Password:</label>
					<input type="password" id="password" class="form-control" name="user[password]">
				</div>
				<div class="form-group<% if @user.errors[:password_confirmation].any? %> has-error<% end %>">
					<label class="control-label" for="password_confirmation">Confirm Your Password:</label>
					<input type="password" id="password_confirmation" class="form-control" name="user[password_confirmation]">
				</div>
				<button type="submit" class="btn btn-block">Join</button>
				<p class="help-block">Joining means you accept our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
			<% end %>
		</div>
		<div class="panel-footer">
			<h4 class="text-center">Already have an account?<br><a href="<%= signin_path %>">Click&nbsp;here</a> to sign in.</h4>
		</div>
	</div>
</div>
