<div class="col-md col-center">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Forgot Password</h3>
			<h5>Enter your Username and we will email you a link to reset your Password.</h5>
		</div>
		<div class="panel-body">
			<%= form_for @user, url: forgotpassword_path, html: { id: nil, class: nil } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @user.errors.empty? %>" role="alert"><%= @user.errors.full_messages.join('<br>').html_safe %></div>
				<div class="alert alert-info<%= ' hide' if @message.nil? %>"><%= @message %></div>
				<div class="form-group<% if not @user.errors[:username].empty? %> has-error<% end %>">
					<label for="username">Your Username:</label>
					<input type="text" id="username" class="form-control" name="user[username]" value="<%= params[:user] ? params[:user][:username] : '' %>">
				</div>
				<button type="submit" class="btn btn-block">Email Me</button>
			<% end %>
		</div>
	</div>
</div>
