<div class="col-md col-center">
	<div class="panel">
		<div class="panel-heading"><h3 class="panel-title">Reset your Password</h3></div>
		<div class="panel-body">
			<%= form_for @user, url: resetpassword_path, html: { id: nil, class: nil } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @user.errors.empty? %>" role="alert"><%= @user.errors.full_messages.join('<br>').html_safe %></div>
				<div class="form-group<% if @user.errors[:password].any? %> has-error has-feedback<% end %>">
					<label class="control-label" for="password">Password:</label>
					<input type="password" id="password" class="form-control" name="user[password]">
				</div>
				<div class="form-group<% if @user.errors[:password_confirmation].any? %> has-error has-feedback<% end %>">
					<label class="control-label" for="password_confirmation">Confirm Your Password:</label>
					<input type="password" id="password_confirmation" class="form-control" name="user[password_confirmation]">
				</div>
				<button type="submit" class="btn btn-block">Reset Password</button>
			<% end %>
		</div>
		<div class="panel-footer">
			<h4 class="text-center">Remember your password?<br><a href="<%= signin_path %>">Click&nbsp;here</a> to sign in.</h4>
		</div>
	</div>
</div>
