.alert {
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
