.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border-radius: 2px;
  
  font-weight: bold;
  background-color: #ddb;
  border: 1px solid $border-color;
  
  &:hover {
    background-color: #cc9;
    border-color: #adadad;
  }
}

.btn-block {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
