.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 5px;
}

.col-xs, .col-sm, .col-md, .col-lg {
  float: left;
}

.col-xs {
  width: 50%;
}

.col-sm, .col-md, .col-lg {
  width: 100%;
}

.col-center {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 531px) {
  .col-xs {
    width: (100%/3);
  }
  
  .col-md {
    width: 500px;
  }
}

@media (min-width: 781px) {
  .col-xs {
    width: (100%/4);
  }
}

@media (min-width: 1031px) {
  .container {
    width: 1010px;
  }
  
  .col-xs, .col-sm {
    width: 250px;
  }
  
  .col-lg {
    width: 750px;
  }
}

@media (min-width: 1281px) {
  .container {
    width: 1260px;
  }
  
  .col-lg {
    width: 1000px;
  }
}
