.header {
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.125);
  padding: 0;
  background-color: #fe7;
  
  a:hover, a:focus {
    text-decoration: none;
  }
}

.brand {
  display: block;
  float: left;
  margin: 0;
  height: 50px;
  padding: 0 5px;
  color: #0000cd;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 27px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px 0 rgba(0,0,0,0.3), 0 1px rgba(0,0,0,0.3), 1px 0 rgba(0,0,0,0.3), 0 -1px rgba(0,0,0,0.3);
  
  span {
    color: #006400;
  }
  
  &:hover, &:focus {
    color: #0000cd;
    text-decoration: none;
  }
}

.header-nav {
  height: 50px;
  
  > li {
    float: left;
    
    > a {
      display: block;
      height: 50px;
      line-height: 40px;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.header-nav-container {
  .header-nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 0;
    border: 1px solid $border-color;
    
    > li {
      float: none;
      border-bottom: 1px solid $border-color;
      
      &:last-child {
        border: 0;
      }
      
      > a {        
        &:hover {
          background-color: #fbfbf2;
        }
      }
    }
    
    &.in {
      display: block;
    }
  }
}

.header-nav-toggle {
  display: block;
  position: relative;
  margin: 5px;
  border: 1px solid $link-color;
  padding: 4px 7px;
  border-radius: 2px;
  
  .icon-bar {
    display: block;
    margin: 4px 0;
    width: 22px;
    height: 4px;
    border-radius: 3px;
    background-color: $link-color;
  }
  
  &:hover, &:focus {
    border-color: $link-hover-color;
    
    .icon-bar {
      background-color: $link-hover-color;
    }
  }
}

@media (min-width: 781px) {
  .header-nav-toggle {
    display: none;
  }
  
  .header-nav-container {
    .header-nav {
      display: block;
      position: static;
      width: auto;
      background-color: transparent;
      border: 0;
      
      > li {
        float: left;
        border: 0;
        
        > a {
          border: 0;
          
          &:hover, &focus {
            background-color: transparent;
          }
        }
      }
    }
  }
}
