.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
  > li {
    position: relative;
    display: block;
    
    > a {
      position: relative;
      display: block;
      padding: 5px 10px;
    }
  }
}
