.panel {
  margin: 0 5px 10px;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.125);
  background-color: #fff;
  overflow: hidden;
}

.panel-heading {
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
  padding: 5px 15px;
  text-align: center;
  background-color: #fbfbf2;
}

.panel-title {
  margin: 0;
}

.panel-body {
  padding: 10px 15px;
}

.panel-footer {
  border-top: 1px solid $border-color;
  padding: 5px 15px;
  background-color: #fbfbf2;
}

.panel-thumbnail {
  border-bottom: 1px solid $border-color;
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.panel-nav .panel-heading {
  margin-bottom: 0;
  cursor: pointer;
  
  .panel-title::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

.panel-nav-body {
  height: 0;
  
  &.in {
    height: auto;
  }
}

.panel-nav-item {
  display: block;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  
  &:last-child {
    border-bottom: 0;
  }
  
  &:hover, &:focus {
    text-decoration: none;
    background-color: #fbfbf2;
  }
  
  &.active {
    color: $text-color;
    background-color: #ddb;
    
    &:hover {
      color: $text-color;
    }
  }
}

@media (min-width: 1031px) {
  .col-sm {
    .panel-nav .panel-heading {
      cursor: default;
      
      .panel-title::after {
        margin: 0;
        border: 0;
      }
    }
    
    .panel-nav-body {
      height: auto;
    }
  }
}
