$body-bg: #eec !default;
$text-color: #212121 !default;

$font-size-base: 14px !default;
$line-height-base: 1.428571429 !default;

$link-color:            #5e5200 !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$border-color: lighten($text-color, 60%) !default;
