<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= "#{@title} | " if @title.present? %>PicSite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="<%= asset_path 'application.css' %>">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="<%= asset_path 'jquery-1.11.2.js' %>"><\/script>')</script>
		<script src="<%= asset_path 'application.js' %>"></script>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<a class="brand" href="<%= root_path %>">Pic<span>Site</span></a>
				<a href="#" class="header-nav-toggle pull-right"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
				<div class="header-nav-container pull-right">
					<ul class="nav header-nav">
					<% if signed_in? %>
						<li><a href="<%= user_path(get_username) %>">Profile</a></li>
						<li><a href="<%= settings_path %>">Settings</a></li>
						<li><a href="<%= signout_path %>">Sign Out</a></li>
					<% else %>
						<li><a href="<%= join_path %>">Join</a></li>
						<li><a href="<%= signin_path %>">Sign In</a></li>
					<% end %>
					</ul>
				</div>
				<script>
				(function($) {
					$('.header-nav-toggle').on('click', function(e) {
						e.preventDefault();
						$(this).parent().find('.header-nav').toggleClass('in');
					});
				})(jQuery);
				</script>
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
